
<!-- <div id="apus-main-content" style="padding-top: 0px;">
    <section id="primary" class="content-area inner">
        <main id="main" class="site-main content" role="main">
            <div class="single-listing-wrapper" data-latitude="40.707257" data-longitude="-73.91773999999998">

                <article id=""
                    class="employer-single-v1 container employer type-employer status-publish has-post-thumbnail">
                    <app-company-header></app-company-header>
                    <div class="panel-affix-wrapper" style="height: 80px;">
                        <mat-tab-group class="header-tabs-wrapper panel-affix affix-top">
                            <mat-tab label="Thông tin chung" class="header-tabs-nav nav"> 
                                <app-company-info></app-company-info>
                            </mat-tab>
                            <mat-tab label="Phân tích tuyển dụng"> 
                                <ng-template matTabContent>
                                    <app-company-hiring></app-company-hiring>
                                </ng-template>
                                
                            </mat-tab>
                            <mat-tab label="Third"> Content 3 </mat-tab>
                        </mat-tab-group>
                    </div>
                    
                </article>
            </div>

        </main>
    </section>
</div> -->

<div id="apus-main-content" style="padding-top: 0px;">
    <section id="main-container" class="main-content container inner">
        <app-company-header></app-company-header>
        <mat-tab-group class="header-tabs-wrapper panel-affix affix-top">
            <mat-tab label="Thông tin chung" class="header-tabs-nav nav"> 
                <app-company-info></app-company-info>
            </mat-tab>
            <mat-tab label="Phân tích tuyển dụng"> 
                <ng-template matTabContent>
                    <app-company-hiring></app-company-hiring>
                </ng-template>
                
            </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>
    </section>
    
  </div>