<div class="container">
    <br><br><br><br>

    <div class="widget-job-search-form">
        <div class="container">
            <div class="seach-bar seach-suggest"></div>
            <form action="" class="form-search layout1" method="GET">
                <div class="chon-quy-wrap">
                    <div class="item" *ngFor="let item of menu; index as i" (click)="changeSearchType(i)"
                        [ngClass]="{'selected': item.selected}">{{item.name}}</div>
                </div>
                <div class="flex-middle-sm search-form-inner">
                    <div class="form-group form-group-title " style="width: calc(100% - 147px);">
                        <!-- <div class="form-group-inner inner">
                            <i class="{{logo}}"></i>
                            <input type="text" name="filter-title" class="form-control" value="" id="mDtwn_title"
                                [placeholder]="ph">
                        </div> -->
                        <div [hidden]="selectedType !== 1"  class="form-group-inner inner">
                            <i class="{{logo}}"></i>
                            <input type="text" [(ngModel)]="selectedCity"
                                style="width: 100%;margin-top: 14px;margin-bottom: 14px;outline: none;"
                                [placeholder]="ph"
                                [formControl]="controlCity" [matAutocomplete]="auto1">
                            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFnCity(filteredOptionsCity | async)">
                                <mat-option (click)="onCitySelected(selectedCity)"
                                    *ngFor="let city of filteredOptionsCity | async" [value]="city.id">
                                    {{city.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        <div [hidden]="selectedType != 2"  class="form-group-inner inner">
                            <i class="{{logo}}"></i>
                            <input type="text" [(ngModel)]="selectedIndustry"
                                style="width: 100%;margin-top: 14px;margin-bottom: 14px;outline: none;"
                                [placeholder]="ph"
                                [formControl]="controlIndustry" [matAutocomplete]="auto2">
                            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnIndustry(filteredOptionsIndustry | async)">
                                <mat-option (click)="onIndustrySelected(selectedIndustry)"
                                    *ngFor="let industry of filteredOptionsIndustry | async" [value]="industry.id">
                                    {{industry.name}}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        <div [hidden]="selectedType !== 3 "  class="form-group-inner inner">
                            <i class="{{logo}}"></i>
                            <input type="text" name="filter-title" class="form-control" value="" id="mDtwn_title"
                            [(ngModel)]="jobName" [placeholder]="ph">
                        </div>
                        <div [hidden]="selectedType !== 4"  class="form-group-inner inner">
                            <i class="{{logo}}"></i>
                            <input type="text" name="filter-title" class="form-control" value="" id="mDtwn_title"
                            [(ngModel)]="companyName" [placeholder]="ph">
                        </div>
                    </div>
                    <div [hidden]="selectedType !== 3" class="form-group form-group-search">
                        <button class="btn-submit btn btn-block btn-theme" (click)="searchJob(jobName)" type="submit">Tìm kiếm</button>
                    </div>
                    <div [hidden]="selectedType !== 4" class="form-group form-group-search">
                        <button class="btn-submit btn btn-block btn-theme" (click)="searchCompany(companyName)" type="submit">Tìm kiếm</button>
                    </div>
                    <br>
                </div>
                <!-- <div class="flex-middle-sm search-form-inner" style = "margin-top: 32px;">
                    <div class="form-group form-group-title  ">
                        <div class="form-group-inner inner">
                            <i class="fa fa-search"></i>
                            <input type="text" name="filter-title" class="form-control" value="" id="IkekS_title" placeholder="Job Title or Keywords">
                        </div>
                    </div>
                   
                    <div class="form-group form-group-center-location  ">
                        <div class="form-group-inner inner">
                            <i class="fa fa-map-marker"></i>
                            <div class="action-location">
                                <input type="text" name="filter-center-location" class="form-control" value="" id="IkekS_center-location" placeholder="Location" autocomplete="off">
                                <div class="leaflet-geocode-container"></div>
                                <span class="find-me"></span>
                                <span class="clear-location hidden"><i class="ti-close"></i></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group form-group-search">
                        <button class="btn-submit btn btn-block btn-theme" type="submit">Search</button>
                    </div>
                </div> -->


                <!-- <div class="content-trending">
                    <ul class="trending-keywords">
                        <li class="my-title">Công việc nổi bật:</li>
                        <li class="my-item"><a
                                href="https://apusthemes.com/wp-demo/careerup/job-list-v5/?filter_title=Designer">Thiết
                                kế thời trang</a>
                        </li>
                        <li class="my-item"><a
                                href="https://apusthemes.com/wp-demo/careerup/job-list-v5/?filter_title=Developer">Kĩ sư
                                xây dựng</a>
                        </li>
                        <li class="my-item"><a
                                href="https://apusthemes.com/wp-demo/careerup/job-list-v5/?filter_title=Web">Lập trình
                                viên Web</a>
                        </li>
                        <li class="my-item"><a
                                href="https://apusthemes.com/wp-demo/careerup/job-list-v5/?filter_title=IOS">Bác sĩ</a>
                        </li>
                        <li class="my-item"><a
                                href="https://apusthemes.com/wp-demo/careerup/job-list-v5/?filter_title=PHP">Kĩ sư cơ
                                khí</a>
                        </li>
                        <li class="my-item"><a
                                href="https://apusthemes.com/wp-demo/careerup/job-list-v5/?filter_title=Senior">Senior</a>
                        </li>
                        <li class="my-item"><a
                                href="https://apusthemes.com/wp-demo/careerup/job-list-v5/?filter_title=Engineer">Engineer</a>
                        </li>
                    </ul>
                </div> -->
            </form>
        </div>
    </div>

</div>