<div id="apus-main-content" style="padding-top: 0px;">
    <section class="detail-version-v3">
        <section id="primary" class="content-area container inner">
            <main id="main" class="site-main content" role="main">
                <div class="single-listing-wrapper" data-latitude="40.6677241" data-longitude="-73.9243783">

                    <article id="" class="job-single-v3 job_listing type-job_listing status-publish has-post-thumbnail hentry is-urgent">
                        <app-job-header></app-job-header>
                        <app-job-description></app-job-description>
                    </article>
                    <!-- #post-## -->
                </div>

            </main>
            <!-- .site-main -->
        </section>
        <!-- .content-area -->
    </section>
</div>