/* .elementor {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elementor-section {
    position: relative;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1170px;
}

.elementor-section .elementor-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.elementor-row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
    width: 100%;
}
.elementor-column {
    position: relative;
    min-height: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 10px;
}
.elementor-column-wrap {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.elementor-widget-wrap {
    position: relative;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.elementor-widget-wrap>.elementor-element {
    width: 100%;
}
.elementor-widget {
    position: relative;
}

.elementor-element .elementor-widget-container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}

.main-items-wrapper {
    position: relative;
}

.candidates-listing-wrapper .results-count {
    font-size: 20px;
    font-family: "Ubuntu";
    font-weight: 500;
    color: #262626;
    margin: 0 0 12px;
}

.candidate-grid, .candidate-list {
    position: relative;
    overflow: hidden;
}
.candidate-list {
    margin-bottom: 30px;
    padding: 25px 30px 20px;
}
.candidate-list {
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-left: 3px solid #fff;
    margin-bottom: 15px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    padding: 20px;
}

.flex {
    display: -webkit-flex;
    display: flex;
}

.candidate-list .candidate-thumbnail+.inner-left {
    width: calc(100% - 100px);
    padding-left: 35px;
}

.candidate-list .candidate-thumbnail+.inner-left {
    padding-left: 20px;
    width: calc(100% - 70px);
}
.candidate-list .inner-left {
    width: 100%;
}
.flex-middle {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}

.flex-middle .ali-right {
    margin-left: auto;
    text-align: right;
}
.flex .ali-right {
    margin-left: auto;
    text-align: right;
}

.btn-theme.btn-outline {
    color: #82b440;
    border-color: #82b440;
    background: transparent;
}
.btn-theme.btn-outline {
    color: #82b440;
    border-color: #82b440;
    background: transparent;
}
.elementor a {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}
.btn-theme {
    color: #fff;
    background-color: #82b440;
    border-color: #82b440;
}
.btn-link-job, .button, .btn {
    outline: none !important;
}
.btn, button {
    outline: none !important;
}
button, .btn, a {
    outline: none !important;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    font-family: "Nunito";
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    letter-spacing: 0;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 1.71;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    font-family: "Nunito";
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    letter-spacing: 0;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 1.71;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.btn-theme {
    color: #fff;
    background-color: #82b440;
    border-color: #82b440;
}
.btn-link-job, .button, .btn {
    outline: none !important;
}

.btn-link-job .next, .button .next, .btn .next {
    display: inline-block;
    margin-left: 8px;
}
.btn-link-job .next, .button .next, .btn .next {
    display: inline-block;
    margin-left: 8px;
} */


.pagination /deep/ .ngx-pagination .current {
    background: #38933d !important;
    color: #fff !important;
    cursor: default;
}

.btn-theme.btn-outline {
    color: #38933d;
    background-color: transparent;
    border-color: #38933d; /*set the color you want here*/
}
.btn-theme.btn-outline:hover, .btn-theme.btn-outline:focus, .btn-theme.btn-outline:active, .btn-theme.btn-outline.active, .open>.dropdown-toggle.btn-theme.btn-outline {
    color: #fff;
    background-color: #38933d;
    border-color: #38933d; /*set the color you want here*/
}

.job-list-v1:hover {
    border-color: #38933d;
}

a:hover, a:active{
    color: #38933d;
  }

