<div class="row content-job-detail" style="margin: auto;">
   
    <div class = "row">
        
    </div>
   
    
    <div class = "row">
        <div class="col-6 mt-3">
            <div id="chart"></div>
        </div>
        <div class="col-6 mt-3">
            <table mat-table [dataSource]="jobDemandAndAverageSalary" class="table-top-luong mt-3">
                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef>Thời gian</th>
                    <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
                </ng-container>
                <ng-container matColumnDef="numJob">
                    <th mat-header-cell *matHeaderCellDef>Nhu cầu</th>
                    <td mat-cell *matCellDef="let element" [class.text-success]="element.growthJob >= 0"
                        [class.text-danger]="element.growthJob < 0">
                        <p [hidden]="element.growthJob < 0">{{element.numJob}}(+{{element.growthJob}}%)</p>
                        <p [hidden]="element.growthJob >= 0">{{element.numJob}}({{element.growthJob}}%)</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="salary">
                    <th mat-header-cell *matHeaderCellDef>Lương TB</th>
                    <td mat-cell *matCellDef="let element" [class.text-success]="element.growthSalary >= 0"
                        [class.text-danger]="element.growthSalary < 0">
                        <p [hidden]="element.growthSalary < 0">{{element.salary}}(+{{element.growthSalary}}%)</p>
                        <p [hidden]="element.growthSalary >= 0">{{element.salary}}({{element.growthSalary}}%)</p>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="jobDemandAndAverageSalaryTable"></tr>
                <tr mat-row *matRowDef="let row; columns: jobDemandAndAverageSalaryTable;"></tr>
            </table>
        </div>
        <div class="col-6 mt-3">
            <div class="chon-quy-wrap">
                <div class="item" *ngFor="let item of timeJobNumJobChart; index as i" (click)="changeTimeJobNumJobChart(i)" [ngClass]="{'selected': item.selected}">{{item.name}}</div>
            </div>
            <div id="nhu_cau_tuyen_dung_theo_cong_viec"></div>
        </div>
        <div class="col-6 mt-3">
            <div class="chon-quy-wrap">
                <div class="item" *ngFor="let item of timeJobSalaryChart; index as i" (click)="changeTimeJobSalaryChart(i)" [ngClass]="{'selected': item.selected}">{{item.name}}</div>
            </div>
            <div id="cong_viec_tra_luong_cao"></div>
        </div>
        <div class="col-6 mt-3">
            <div id="nhu-cau-viec-lam-theo-do-tuoi"></div>
        </div>
        <div class="col-6 mt-3">
            <div class="chon-quy-wrap">
                <div class="item" *ngFor="let item of timeAgeChart; index as i" (click)="changeTimeAgeChart(i)" [ngClass]="{'selected': item.selected}">{{item.name}}</div>
            </div>
            <table mat-table [dataSource]="jobDemandByAgeAndGender" class="table-top-luong mt-3">
                <ng-container matColumnDef="ageRange">
                    <th mat-header-cell *matHeaderCellDef>Độ tuổi</th>
                    <td mat-cell *matCellDef="let element"> {{element.ageRange}} </td>
                </ng-container>
                <ng-container matColumnDef="male">
                    <th mat-header-cell *matHeaderCellDef>Nam</th>
                    <td mat-cell *matCellDef="let element"> {{element.male}} </td>
                </ng-container>
                <ng-container matColumnDef="female">
                    <th mat-header-cell *matHeaderCellDef>Nữ </th>
                    <td mat-cell *matCellDef="let element"> {{element.female}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="jobDemandByAgeAndGenderTable"></tr>
                <tr mat-row *matRowDef="let row; columns: jobDemandByAgeAndGenderTable;"></tr>
            </table>
        </div>
        <div class="col-6 mt-3">
            <div id="nhu-cau-viec-lam-theo-trinh-do"></div>
        </div>
        <div class="col-6 mt-3">
            <div class="chon-quy-wrap">
                <div class="item" *ngFor="let item of timeLiteracyChart; index as i" (click)="changeTimeLiteracyChart(i)" [ngClass]="{'selected': item.selected}">{{item.name}}</div>
            </div>
            <table mat-table [dataSource]="jobDemandByLiteracy" class="table-top-luong mt-3">
                <ng-container matColumnDef="literacy">
                    <th mat-header-cell *matHeaderCellDef>Trình độ học vấn </th>
                    <td mat-cell *matCellDef="let element"> {{element.literacy}} </td>
                </ng-container>
                <ng-container matColumnDef="numJob">
                    <th mat-header-cell *matHeaderCellDef>Số lượng </th>
                    <td mat-cell *matCellDef="let element"> {{element.numJob}} </td>
                </ng-container>
                <ng-container matColumnDef="growth">
                    <th mat-header-cell *matHeaderCellDef>Tăng trưởng</th>
                    <td mat-cell *matCellDef="let element" [class.text-success]="element.growth >= 0"
                        [class.text-danger]="element.growth < 0">
                        <p [hidden]="element.growth < 0">+{{element.growth}}%</p>
                        <p [hidden]="element.growth >= 0">{{element.growth}}%</p>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="jobDemandByLiteracyTable"></tr>
                <tr mat-row *matRowDef="let row; columns: jobDemandByLiteracyTable;"></tr>
            </table>
        </div>
    </div>
</div>