<!-- Main content -->
<div class="row content-job-detail" style="margin: auto;">
    <div class="col-xs-12 col-md-8">

        <!-- employer description -->
        <div id="employer-detail-description" class="employer-detail-description">
            <h3 class="title-detail-employer">Thông tin chung</h3>
            <div class="inner">
                <p>
                    Trải qua gần 13 năm xây dựng và phát triển, công ty Cổ phần Truyền thông Kim Cương hiện là 1 trong những công ty
                    hàng đầu tại Việt Nam trong lĩnh vực Contact Center nói riêng và Dịch vụ thuê ngoài quy trình kinh doanh (BPO) nói
                    chung, bao gồm: cung cấp giải pháp công nghệ, cung cấp nhân lực và cung cấp dịch vụ Contact Center Outsourcing, dịch
                    vụ truyền thông, dịch vụ đào tạo, cung ứng nhân sự Telesales, dịch vụ Chăm sóc khách hàng trực tiếp và gián tiếp...
                </p><p>Hiện nay Kim Cương đang có gần 2.000 cán bộ nhiên viên hoạt động tại 4 chi nhánh toàn quốc: Hà nội, Tp. HCM, Đà Nẵng
                    và Thái Nguyên với quy mô gần 1.000 cabin hoạt động (seats). Các khách hàng của chúng tôi bao gồm nhiều lĩnh vực từ
                    viễn thông, truyền hình, tài chính ngân hàng, điện tử.... như: Viettel, Topica, Truyền hình kỹ thuật số K+,
                    Prudential, Samsung Vina, MobiFone, VinaPhone, TienphongBank, Bảo hiểm PVI...
                </p>
            <p> Toàn thể CBNV trong Công ty cùng chung sức nỗ lực phấn đấu để đạt được tầm nhìn trên, đồng thời cùng hướng tới xây
                dựng Kim Cương trở thành một gia đình lớn, một gia đình mà mọi người cùng đoàn kết, gắn bó, quan tâm, chia sẻ và có
                trách nhiệm với nhau. Hãy đến với Kim Cương! Cơ hội luôn rộng mở đón chào bạn với những việc làm hấp dẫn, mức thu
                nhập cạnh tranh và một môi trường làm việc chuyên nghiệp, giàu bản sắc…
            </p>
                <div class="wp-block-spacer" style="height: 20px;" aria-hidden="true">&nbsp;</div>
                <p>Diamond Media có nguồn lực, công nghệ và có đội ngũ chuyên viên tư vấn tại chỗ có thể giúp cho các doanh nghiệp mở
                    rộng kinh doanh và gia tăng số lượng khách hàng sử dụng dịch vụ cũng như sản phẩm của doanh nghiệp đó. Điều làm nên
                    sự khác biệt ở Diamond Media chính là đội ngũ nhân viên chuyên nghiệp, các biện pháp chuyển giao đã được khẳng định
                    và cơ sở vật chất có thể đáp ứng được tiêu chuẩn quốc tế. </p>
                <div class="wp-block-spacer" style="height: 20px;" aria-hidden="true">&nbsp;</div>
            </div>
        </div>


        <div class="social-job-detail">
            <span class="title">Social Profiles:</span>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a> </div>

        <!-- realted companies -->
        <div id="job-employer-portfolio" class="employer-detail-portfolio candidate-detail-portfolio widget">
            <h4 class="widget-title">Công ty liên quan</h4>
            <div class="content-bottom">
                <div class="row">
                    <div *ngFor="let company of relatedCompanies | paginate: { itemsPerPage: 6, currentPage: p }"
                        class="col-xs-4 md-clearfix sm-clearfix">
                        <article id="" class="">
                            <div class="employer-grid">
                                <span class="featured" data-toggle="tooltip" title="" data-original-title="featured"><i
                                        class="fa fa-star text-theme"></i></span>
                                <div class="open-job">
                                    <!-- <span class="text-theme">{{company.numberOfJob}}</span> Công việc </div> -->
                                    <span class="text-theme">50</span> Công việc </div>
                                <div class="employer-thumbnail">
                                    <a href="/companies/viettel">
                                        <img width="180" height="75"
                                            src="https://thietkelogo.vn/wp-content/uploads/2015/12/viettel.png"
                                            class="attachment-full size-full wp-post-image" alt=""> </a>
                                </div>
                                <div class="employer-information">
                                    <div class="employer-title-wrapper">
                                        <h6 class="employer-title"><a href="/companies/viettel"
                                                rel="bookmark">{{company.name}}</a></h6>
                                    </div>
                                    <!-- <a href="https://apusthemes.com/wp-demo/careerup/employer-category/accounting-finance/"
                                    class="text-theme">{{company.website}}</a> -->

                                    <div class="employer-location">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        {{company.location}}
                                        <!-- <a
                                        href="https://apusthemes.com/wp-demo/careerup/employer-location/new-york/">{{company.location}}</a> -->
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- #post-## -->

                    </div>
                </div>
            </div>
        </div>
        <!-- current jobs -->
        <div class="widget">
            <h4 class="widget-title">
                <span>Công việc</span>
            </h4>

            <div class="widget-content">
                <div *ngFor="let job of recentJobsByCompany"
                    >
                    <article class="job-list job_listing type-job_listing status-publish has-post-thumbnail hentry ">
                        <div class="clearfix">
                            <div class="job-information flex-middle no-padding width-full">
                                <div class="inner">
                                    <!-- <a class="text-theme type-job"
                                        href="https://apusthemes.com/wp-demo/careerup/job-type/full-time/">Full
                                        Time</a> -->
                                        Full Time
                                    <div class="job-title-wrapper">
                                        <h2 class="job-title"><a
                                                href="https://apusthemes.com/wp-demo/careerup/job/senior-staff-nurse/"
                                                rel="bookmark">{{job.job_name}}</a></h2> <span class="featured"
                                            data-toggle="tooltip" title="" data-original-title="featured"><i
                                                class="fa fa-star text-theme"></i></span>
                                    </div>
                                    <div class="job-metas">
                                        <div class="job-location"><i class="fa fa-map-marker"></i>{{job.province}}</div>
                                        <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>04/06/2019
                                        </div>
                                        <div class="job-salary"><i class="fa fa-money"></i>$<span
                                                class="price-text">{{job.min_salary}}</span> - <span class="price-text">{{job.max_salary}}</span> triệu
                                        </div>
                                    </div>
                                </div>
                                <div class="ali-right">
                                    <div class="wrapper-shortlist">
                                        <a href="javascript:void(0);" class="btn-add-job-shortlist" data-job_id="1318"
                                            data-nonce="43ad379e72"><i class="fa fa-star"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <aside class="widget widget_apus_employer_maps">
            <h2 class="widget-title"><span>Vị trí</span></h2>
            <div class="employer-detail-map-location job_maps_sidebar">
                <!-- Map -->
                <div leaflet style="height: 300px;" [leafletOptions]="options" [leafletLayers]="markers"
                    [leafletZoom]="zoom" (leafletZoomChange)="onZoomChange($event)" [leafletCenter]="center"
                    (leafletCenterChange)="onCenterChange($event)">
                </div>
            </div>
        </aside>
        <aside class="widget widget_apus_employer_info">
            <h2 class="widget-title"><span>Thông tin công ty</span></h2>
            <div class="employer-detail-detail in-sidebar">
                <ul class="list">
                    <li>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="details">
                            <div class="text">Số lượng nhân sự</div>
                            <div class="value">1-50 Members</div>
                        </div>
                    </li>

                    <li>
                        <div class="icon">
                            <i class="fa fa-eye"></i>
                        </div>
                        <div class="details">
                            <div class="text">Lượt xem</div>
                            <div class="value">1626</div>
                        </div>
                    </li>

                    <li>
                        <div class="icon">
                            <i class="fa fa-tag"></i>
                        </div>
                        <div class="details">
                            <div class="text">Số lượng công việc</div>
                            <div class="value">{{companyInfo.num_job}}</div>
                        </div>
                    </li>

                    <li>
                        <div class="icon">
                            <i class="fa fa-paper-plane"></i>
                        </div>
                        <div class="details">
                            <div class="text">Vị trí</div>
                            <div class="value">{{companyInfo.location}}</div>
                        </div>
                    </li>

                    <li>
                        <div class="icon">
                            <i class="fa fa-cube"></i>
                        </div>
                        <div class="details">
                            <div class="text">Lĩnh vực hoạt động</div>
                            <div class="value">
                                <div *ngFor="let industry of businessLinesOfCompany"> 
                                    <a href="https://apusthemes.com/wp-demo/careerup/employer-category/accounting-finance/">{{industry.name}}</a>
                                </div>
                                
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="icon">
                            <i class="fa fa-history"></i>
                        </div>
                        <div class="details">
                            <div class="text">Năm thành lập</div>
                            <div class="value">{{companyInfo.founded_year}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- <aside class="widget widget_apus_employer_contact_form">
            <h2 class="widget-title"><span>Contact Form</span></h2>

            <div class="contact-form contact-form-employer in-sidebar">

                <form method="post" action="?" class=" contact-form-wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control style2" name="subject" placeholder="Subject" required="required">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="email" class="form-control style2" name="email" placeholder="E-mail" required="required" value="">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control style2" name="phone" placeholder="Phone" required="required" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group space-30">
                        <textarea class="form-control style2" name="message" placeholder="Message" required="required"></textarea>
                    </div>

                    <div id="recaptcha-contact-form" class="ga-recaptcha" data-sitekey="6Lezm6oUAAAAABDn8kjWz4f5K2NH1HLzFTVWjOy7">
                        <div style="width: 304px; height: 78px;">
                            <div>
                                <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lezm6oUAAAAABDn8kjWz4f5K2NH1HLzFTVWjOy7&amp;co=aHR0cHM6Ly9hcHVzdGhlbWVzLmNvbTo0NDM.&amp;hl=vi&amp;v=61bII03-TtCmSUR7dw9MJF9q&amp;size=normal&amp;cb=c26iilvxr6ab" width="304" height="78" role="presentation" name="a-bxe7lprwhxnp" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                            </div>
                            <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                        </div>
                        <iframe style="display: none;"></iframe>
                    </div>

                    <input type="hidden" name="post_id" value="635">
                    <button class="button btn btn-theme btn-block" name="contact-form">Send Message</button>

                </form>

                <div class="send-private-wrapper">
                    <a href="javascript:void(0);" class="send-private-message-btn"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Send Private Message</a>
                </div>
                <div class="send-private-message-wrapper-hidden hidden"></div>

            </div>
        </aside> -->
    </div>
</div>