.swiper-container {
    width: 100%;
    height: 280px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.static {
    // background-color: #65c36b;
    // background-image: -webkit-gradient(linear, left top, right top, from(#4fca57), to(#2d9032));
    // background-image: linear-gradient(to right, #5aaf60, #36923b);
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
    .title {
        color: #fff;
        color: #333333;
    }
    .highlight {
        font-size: 32px;
        font-weight: 400;
        color: #333333;
        line-height: 70px;
    }
    .small-chart {
        margin-top: -20px;
    }
    .grow {
        // background: #37933c;
        // color: #fff;
        // border-radius: 3px;
        // padding: 1px 3px 1px 4px;

        background: #e2e2e2;
        color: #37933c;
        border-radius: 3px;
        padding: 1px 3px 1px 4px;
        font-weight: 500;
    }
}

.bg-gray {
    background: #f3f3f3;
}

.chon-quy-wrap {
    display: inline-block;
    padding: 3px 5px;
    .item {
        display: inline-block;
        border-top: 1px solid #37933c;
        border-bottom: 1px solid #37933c;
        border-right: 1px solid #37933c;
        padding: 5px 15px;
        color: #37933c;
        cursor: pointer;
    }
    .item:first-child {
        border-top-left-radius: 4px;
        border-left: 1px solid #37933c;
        border-bottom-left-radius: 4px;
    
    }
    .item:last-child {
        border-top-right-radius: 4px;
        border-right: 1px solid #37933c;
        border-bottom-right-radius: 4px;
    
    }
    .selected {
        background: #37933c;
        color: #fff;
    }
}
.employer-grid .featured:before {
    border-color: #36a800 #36a800 transparent transparent;
}
