<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="working-process"><span class="process-img"><i class="fa fa-university fa-5x"></i><span class="process-num">01</span></span>
            <h4>Thị trường</h4>
            <p>Phân tích nhân khẩu học về các góc cạnh khác nhau của thị trường lao động như tính vùng miền, nghề nghiệp, kỹ năng, độ tuổi, giới tính, nền tảng giáo dục, chế độ đãi ngộ</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="working-process"><span class="process-img"><i class="fa fa-building-o fa-5x"></i><span class="process-num">02</span></span>
            <h4>Công ty</h4>
            <p>Phân tích mức lương, chế độ đãi ngộ cho các vị trí tuyển dụng của từng công ty cụ thể. Thống kê các vị trí tuyển dụng của công ty theo thời gian, theo khu vực vùng miền</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="working-process"><span class="process-img"><i class="fa fa-steam-square fa-5x"></i><span class="process-num">03</span></span>
            <h4>Ngành nghề</h4>
            <p>Phân tích phân bố việc làm theo ngành nghề, vị trí địa lí. Dự báo nhu cầu của các vị trí công việc trong tương lai.Tìm kiếm các nhóm kỹ năng phù hợp với vị trí công việc cụ thể.</p>
        </div>
    </div>
</div>