/* .btn-outline-primary:hover {
    color: #fff !important;
    background-color: #1dbe14;
    border-color: #f8f9fa;
}

.btn:hover {
    color: #212927 !important;
    text-decoration: none;
} */

/* .btn-outline-primary {
    color: #007bff important; 
    border-color: #f8f9fa;
} */
/* .wrapper-shortlist {
    position: relative;
}
.job-detail-header-v3 .job-detail-buttons {
    text-align: right;
}
.btn-add-candidate-shortlist, .btn-shortlist {
    background: #fffafa6e;
    color: #0d0d0d;
    border-color: #b4b4b412;
    position: relative;
}

.btn-link-job, .button, .btn {
    outline: none !important;
}

.btn, button {
    outline: none !important;
}
button, .btn, a {
    outline: none !important;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    font-family: "Nunito";
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    letter-spacing: 0;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 1.71;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.btn-block {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    font-family: "Nunito";
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    letter-spacing: 0;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 1.71;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.btn-add-candidate-shortlist, .btn-shortlist {
    background: #b4b4b4;
    color: #fff;
    border-color: #b4b4b4;
    position: relative;
} */

.btn-shortlist-customer {
    background: #b4b4b400;
    color: #151515;
    border-color: #0e840f;
    position: relative;
}