<!-- heading -->
<div class="job-detail-header job-detail-header-v3">
    <div class="row flex-middle-sm">
        <div class="col-sm-8 col-xs-12">
            <div class="flex-middle">
                
            </div>
        </div>
    </div>
</div>


<div class="bg-gray pb-3">
    <div class="container">
        <div class="inner-info">
            <h3 *ngIf = "selectedCity == 'P0'" class="text-theme type-job">Việt Nam</h3>
            <h3 *ngIf = "selectedCity != 'P0'" class="text-theme type-job">{{selectedCityName}} / Việt Nam</h3>
            <div class="job-title-wrapper">
                <h1 class="job-detail-title">{{jobInfo.name}}</h1> 
            </div>
            <div class="job-metas">
                <div class="job-salary"><i class="fa fa-money"></i><span class="price-text">{{jobInfo.minSalary}} triệu</span> - <span class="price-text">{{jobInfo.maxSalary}}</span> triệu</div>
                <div class="job-location"><i class="fa fa-tasks"></i>{{jobInfo.numJob}} Công việc</div>
            </div>
        </div>
    </div>
</div>