<!-- heading -->
<div class="job-detail-header job-detail-header-v3">
    <div class="row flex-middle-sm">
        <div class="col-sm-8 col-xs-12">
            <div class="flex-middle">
                
            </div>
        </div>
    </div>
</div>


<div class="bg-gray pb-3">
    <div class="container">
        <div class="inner-info">
            <a class="text-theme type-job" href="https://apusthemes.com/wp-demo/careerup/job-type/part-time/">Full Time</a>
            <div class="job-title-wrapper">
                <h1 class="job-detail-title">Lập trình viên</h1> 
            </div>
            <div class="job-metas">
                <div class="job-salary"><i class="fa fa-money"></i><span class="price-text">12 triệu</span> - <span class="price-text">18</span> triệu</div>
                <div class="job-location"><i class="fa fa-tasks"></i>12000 Công việc</div>
            </div>
        </div>
    </div>
</div>