.static {
    background-color: #65c36b;
    background-image: -webkit-gradient(linear, left top, right top, from(#4fca57), to(#2d9032));
    background-image: linear-gradient(to right, #5aaf60, #36923b);
    padding: 10px;
    border-radius: 6px;
    border: none;
    .title {
        color: #fff;
    }
    .highlight {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }
}
