<p>region works!</p>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="d-flex flex-column static">
                <div class="title">Việc làm mới</div>
                <div class="highlight">30K</div>
                <div class="grow">+3.5%</div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column static">
                <div class="title">Công ty</div>
                <div class="highlight">30K</div>
                <div class="grow">+3.5%</div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column static">
                <div class="title">Lương trung bình</div>
                <div class="highlight">25tr</div>
                <div class="grow">+3.5%</div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column static">
                <div class="title">Độ tuổi trung bình</div>
                <div class="highlight">31</div>
                <div class="grow">+3.5%</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12"><h2>Phân bố việc làm theo ngành nghề</h2></div>
        <div class="col-6">
            <div id="muc-luong-trung-binh-theo-nhanh-nghe"></div>
        </div>
        
        
    </div>
</div>