<div class="elementor-row">
    <div *ngFor="let industry of industryList">
        <div class="col-xs-6 col-md-3">
            <div class="elementor-widget-container">
                <div class="widget-job-category-banner ">
                    <a [routerLink]="['/industries', industry.id]" rel="bookmark">
                        <div class="category-banner-inner style1">
                            <div class="content-inner">
                                <!-- <div class="category-icon"><i class="fa fa-youtube-square"></i></div> -->
                                <div class="inner">
                                    <h4 class="title">{{industry.name}}</h4>
                                    <div class="number"><strong>{{industry.averageSalary}}</strong> triệu</div>   
                                    <div class="number"><strong>{{industry.numJob}}</strong> vị trí công việc</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>