<div class="elementor-row">
    <div class="col-xs-6 col-md-3">
        <div class="elementor-widget-container">
            <div class="widget-job-category-banner ">
                <a href="industries/job-category/media">
                    <div class="category-banner-inner style1">
                        <div class="content-inner">
                            <div class="category-icon"><i class="fa fa-youtube-square"></i></div>
                            <div class="inner">
                                <h4 class="title">
                                    Design &amp; Multimedia                                    </h4>

                                <div class="number"><strong>2</strong> Open Positions</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="elementor-widget-container">
            <div class="widget-job-category-banner ">

                <a href="industries/job-category/education-training/">
                    <div class="category-banner-inner style1">
                        <div class="content-inner">
                            <div class="category-icon"><i class="fa fa-graduation-cap"></i></div>
                            <div class="inner">
                                <h4 class="title">
                                    Education Training                                    
                                </h4>
                                <div class="number"><strong>3</strong> Open Positions</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="elementor-widget-container">
            <div class="widget-job-category-banner ">

                <a href="industries/job-category/accounting-finance/">
                    <div class="category-banner-inner style1">
                        <div class="content-inner">
                            <div class="category-icon"><i class="fa fa-bar-chart"></i></div>
                            <div class="inner">
                                <h4 class="title">
                                    Accounting / Finance                                    
                                </h4>
                                <div class="number"><strong>3</strong> Open Positions</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="elementor-widget-container">
            <div class="widget-job-category-banner ">

                <a href="industries/job-category/human-resource/">
                    <div class="category-banner-inner style1">
                        <div class="content-inner">
                            <div class="category-icon"><i class="fa fa-address-card-o"></i></div>
                            <div class="inner">
                                <h4 class="title">
                                    Human Resource                                    
                                </h4>
                                <div class="number"><strong>1</strong> Open Position</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="elementor-widget-container">
            <div class="widget-job-category-banner ">
        
                <a href="industries/job-category/telecommunications/">
                    <div class="category-banner-inner style1">
                        <div class="content-inner">
                            <div class="category-icon"><i class="fa fa-signal"></i></div>
                            <div class="inner">
                                <h4 class="title">
                                    Telecommunications                                    
                                </h4>
                                <div class="number"><strong>1</strong> Open Position</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="elementor-widget-container">
            <div class="widget-job-category-banner ">
        
                <a href="industries/job-category/restaurant-food-service/">
                    <div class="category-banner-inner style1">
                        <div class="content-inner">
                            <div class="category-icon"><i class="fa fa-cutlery"></i></div>
                            <div class="inner">
                                <h4 class="title">
                                    Restaurant / Food Service   
                                </h4>
                                <div class="number"><strong>2</strong> Open Positions</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="elementor-widget-container">
            <div class="widget-job-category-banner ">
        
                <a href="industries/job-category/construction-facilities/">
                    <div class="category-banner-inner style1">
                        <div class="content-inner">
                            <div class="category-icon"><i class="fa fa-steam-square"></i></div>
                            <div class="inner">
                                <h4 class="title">
                                    Construction / Facilities
                                </h4>
        
                                <div class="number"><strong>1</strong> Open Position</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="elementor-widget-container">
            <div class="widget-job-category-banner ">
        
                <a href="industries/job-category/health/">
                    <div class="category-banner-inner style1">
                        <div class="content-inner">
                            <div class="category-icon"><i class="fa fa-heartbeat"></i></div>
                            <div class="inner">
                                <h4 class="title">
                                    Health                                    
                                </h4>
                                <div class="number"><strong>3</strong> Open Positions</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>