<header>
    <div class="container">
        <div class="d-flex">
            <div>
                YOURWAY.VN
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-auto">
                        <a class="p-2" href="/">Trang chủ</a>
                    </div>
                    <div class="col-lg-auto">
                        <a class="p-2" href="/markets">Thị trường</a>
                    </div>
                    <div class="col-lg-auto">
                        <a class="p-2" href="/companies">Công ty</a>
                    </div>
                    <div class="col-lg-auto">
                        <a class="p-2" href="industries">Lĩnh vực nghề nghiệp</a>
                    </div>
                </div>
            </div>
            <div>
                <input class="main-search" placeholder="Tìm kiếm công việc mơ ước" />
                <button>Tim</button>
            </div>
            <div>
                <button class="white ml-2">Đăng nhập</button>
                <button class="green ml-2">Đăng ký</button>
            </div>
        </div>
    </div>
</header>
