<div class="bg-gray pb-3">
    <div class="container">
        <div class="row content-job-detail">
            <div class="job-detail-information">
                <h3 class="title-detail-job">Thông tin chung</h3>
                <div class="inner">
                    <div class="job-detail-detail">
                        <ul class="list">
                            <div class="row">
                                <li class="col-sm-6 col-xs-6">
                                    <div class="icon">
                                        <i class="fa fa-money"></i>
                                    </div>
                                    <div class="details">
                                        <div class="text">Mức lương</div>
                                        <div class="value"><span class="price-text">{{jobInfo.minSalary}} triệu</span> - <span
                                                class="price-text">{{jobInfo.maxSalary}} triệu</span>/tháng</div>

                                    </div>
                                </li>
            
                            
                                <!-- <li class="col-sm-4 col-xs-4">
                                    <div class="icon">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="details">
                                        <div class="text">Cấp bậc</div>
                                        <div class="value"> Fresher</div>
                                    </div>
                                </li> -->
                                <li class="col-sm-6 col-xs-6">
                                    <div class="icon">
                                        <i class="fa fa-cube"></i>
                                    </div>
                                    <div class="details">
                                        <div class="text">Ngành nghề</div>
                                        <div class="value" *ngFor = "let industry of jobInfo.industry" style="display:inline-block;"> {{industry}},</div>
                                    </div>
                                </li>
                                <li class="col-sm-6 col-xs-6">
                                    <div class="icon">
                                        <i class="fa fa-venus-mars"></i>
                                    </div>
                                    <div class="details">
                                        <div class="text">Giới tính</div>
                                        <div class="value">Nam/Nữ</div>
                                    </div>
                                </li>
                                <li class="col-sm-6 col-xs-6">
                                    <div class="icon">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="details">
                                        <div class="text">Bằng cấp</div>
                                        <div class="value" *ngFor = "let literacy of jobInfo.literacy" style="display:inline-block;"> {{literacy}},</div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>