<div class="bg-gray pb-3">
    <div class="container">
        <div class="row content-job-detail">
            <div class="job-detail-information">
                <h3 class="title-detail-job">Thông tin chung</h3>
                <div class="inner">
                    <div class="job-detail-detail">
                        <ul class="list">
                            <div class="row">
                                <li class="col-sm-4 col-xs-4">
                                    <div class="icon">
                                        <i class="fa fa-money"></i>
                                    </div>
                                    <div class="details">
                                        <div class="text">Mức lương</div>
                                        <div class="value"><span class="price-text">15 triệu</span> - <span
                                                class="price-text">180 triệu</span>/tháng</div>
                                    </div>
                                </li>
            
                                <li class="col-sm-4 col-xs-4">
                                    <div class="icon">
                                        <i class="fa fa-venus-mars"></i>
                                    </div>
                                    <div class="details">
                                        <div class="text">Giới tính</div>
                                        <div class="value">Nam/Nữ</div>
                                    </div>
                                </li>
                                <li class="col-sm-4 col-xs-4">
                                    <div class="icon">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="details">
                                        <div class="text">Cấp bậc</div>
                                        <div class="value"> Fresher</div>
                                    </div>
                                </li>
                                <li class="col-sm-4 col-xs-4">
                                    <div class="icon">
                                        <i class="fa fa-cube"></i>
                                    </div>
                                    <div class="details">
                                        <div class="text">Ngành nghề</div>
                                        <div class="value"> Công nghệ thông tin</div>
                                    </div>
                                </li>
            
                                <li class="col-sm-4 col-xs-4">
                                    <div class="icon">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="details">
                                        <div class="text">Bằng cấp</div>
                                        <div class="value"> Đại học/Cao đẳng</div>
                                    </div>
                                </li>
            
                                
                                
                            </div>
                            
        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>