<app-loading *ngIf="isLoading">{{ isLoading }}</app-loading>

<div class="main-slider">
    <app-slideshow></app-slideshow>
    <div class="sologan-wraper">
        <div class="container">
            <div class="sologan-text">Phân tích dữ liệu thị trường lao động Việt Nam thời gian thực</div>
            <section id="main-container" class="wrapper-main-page container inner" style="margin-top: -75px;">
                <app-home-search  (send_search)="increase_search($event)"></app-home-search>
            </section>
        </div>
    </div>
</div>

<div id="apus-main-content">
    


    
    <section id="main-container" class="wrapper-main-page container inner">
        <h2 class="title-industry">Các ngành nghề phổ biến</h2>
        <app-industry-listing (send_industry)="increase_industry($event)"></app-industry-listing>
    </section>
    <div class = "container">
        <div class="elementor-row browse-job">
            <a class="btn btn-primary btn-outline" href="/industries">
                Xem thêm</a>
        </div>
    </div>
    <div class = "container" style="margin-top: 32px;">
        <h2 class="title-industry">Cung cấp thông tin</h2>
        <app-brief-page></app-brief-page>
    </div>
</div>