<div id="apus-main-content" style="padding-top: 0px;">
    <div class="jobs-filter-top-sidebar-wrapper filter-top-sidebar-wrapper">
        <app-job-search></app-job-search>
    </div>
    <section id="main-container" class=" main-content container inner">
        <a href="javascript:void(0)" class="mobile-sidebar-btn btn-theme hidden-lg hidden-md left"> <i class="fa fa-sliders"></i></a>
        <div class="mobile-sidebar-panel-overlay"></div>
        <div class="row">
            <div class="sidebar-wrapper col-md-3 col-sm-12 col-xs-12">
                <app-job-filter></app-job-filter>
            </div>

            <div id="main-content" class="col-sm-12 col-md-9 col-sm-12 col-xs-12">
                <app-job-listing></app-job-listing>
            </div>
            <!-- .content-area -->
        </div>
    </section>
</div>