<div class="swiper-container">
<div class="swiper-wrapper">
    <div class="swiper-slide"><img src="https://1.bp.blogspot.com/-TCFrzARZkaI/XdOaPgwqlPI/AAAAAAAAOEY/Mo17s4SxQdsrQTdm4Xu5qA277eTqMPYRQCLcBGAsYHQ/s1600/phoi-canh-mipec-xuan-thuy.jpg" /></div>
    <div class="swiper-slide"><img src="https://d13dxp8d6go1v2.cloudfront.net/data/image_area_data/hcm/quan1/quan1-3.jpg" /></div>
    <div class="swiper-slide"><img src="https://d13dxp8d6go1v2.cloudfront.net/data/image_area_data/hcm/quan1/quan1-5.jpg" /></div>
    <div class="swiper-slide"><img src="https://d13dxp8d6go1v2.cloudfront.net/data/image_area_data/hcm/quan1/quan1-4.jpg" /></div>
    <div class="swiper-slide"><img src="https://d13dxp8d6go1v2.cloudfront.net/data/image_area_data/hcm/quan2/quan2-2.jpg" /></div>
    <div class="swiper-slide"><img src="https://d13dxp8d6go1v2.cloudfront.net/data/image_area_data/hcm/quan2/quan2-5.jpg" /></div>
    <div class="swiper-slide"><img src="https://d13dxp8d6go1v2.cloudfront.net/data/image_area_data/hcm/quan2/quan2-3.jpg" /></div>
    <div class="swiper-slide"><img src="https://d13dxp8d6go1v2.cloudfront.net/data/image_area_data/hcm/quan10/quan10-4.jpg" /></div>
    <div class="swiper-slide"><img src="https://d13dxp8d6go1v2.cloudfront.net/data/image_area_data/hcm/quan10/quan10-1.jpg" /></div>
    <div class="swiper-slide"><img src="https://d13dxp8d6go1v2.cloudfront.net/data/image_area_data/hcm/quan8/quan8-3.jpg" /></div>
</div>
<!-- Add Pagination -->
<!-- <div class="swiper-pagination"></div> -->
<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>
</div>