<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body pb-0">
                    <!-- <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-location-pin"></i>
                    </button> -->
                    <div class = "row">
                        <div class="col-sm-4 col-md-4">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-sm-7 col-md-7" style="text-align: center; color:black">
                            <div class="text-value" style=" font-size: xx-large; ">190.624</div>
                            <div>Việc làm mới</div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
                    <div id="so-luong-tuyen-dung"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body pb-0">
                    <!-- <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-location-pin"></i>
                    </button> -->
                    <div class = "row">
                        <div class="col-sm-4 col-md-4">
                            <i class="fa fa-building-o fa-5x"></i>
                        </div>
                        <div class="col-sm-7 col-md-7" style="text-align: center; color:black">
                            <div class="text-value" style=" font-size: xx-large; ">50.823</div>
                            <div>Công ty</div>
                        </div>
                    </div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
                    <div id="so-luong-cong-ty"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body pb-0">
                    <!-- <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-location-pin"></i>
                    </button> -->
                    <div class = "row">
                        <div class="col-sm-4 col-md-4">
                            <i class="fa fa-money fa-5x"></i>
                        </div>
                        <div class="col-sm-7 col-md-7" style="text-align: center; color:black">
                            <div class="text-value" style=" font-size: xx-large; ">7.4 triệu</div>
                            <div>Lương trung bình</div>
                        </div>
                    </div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
                    <div id="luong-trung-binh"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body pb-0">
                    <!-- <button type="button" class="btn btn-transparent p-0 float-right">
                        <i class="icon-location-pin"></i>
                    </button> -->
                    <div class = "row">
                        <div class="col-sm-4 col-md-4">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-sm-7 col-md-7" style="text-align: center; color:black">
                            <div class="text-value" style=" font-size: xx-large; ">29.4</div>
                            <div>Tuổi trung bình</div>
                        </div>
                    </div>
                </div>
                <div class="chart-wrapper mt-3 mx-3" style="height:100px;">
                    <div id="tuoi-trung-binh"></div>
                </div>
            </div>
        </div>
    </div>

</div>