<aside class="sidebar widget">
    <!-- <aside class="widget"> -->
    <form class="filter-listing-form">
        <div class="form-group ">
            <label class="heading-label">
                Từ khóa </label>
            <input type="text" [(ngModel)]="jobName" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nhân viên kinh doanh">
        </div>
    </form>

    <form class="filter-listing-form">
        <div class="form-group ">
            <label class="heading-label">
                Khu vực </label>
                <!-- <mat-form-field class="example-full-width">
                    <input  type="text" placeholder="vd. Hà Nội"  matInput [matAutocomplete]="auto1"
                        [formControl]="cityControl">
                    <mat-hint></mat-hint>
                </mat-form-field>
                
                <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFnCity">
                    <mat-option *ngFor="let city of filteredCities | async" [value]="selectedCities">
                        <div (click)="optionClicked($event, city)">
                            <mat-checkbox [checked]="city.selected" (change)="toggleSelection(city)" (click)="$event.stopPropagation()">
                                {{ city.name }}
                            </mat-checkbox>
                        </div>
                    </mat-option>
                </mat-autocomplete> -->
                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="vd. Hà Nội" matInput [matAutocomplete]="auto1" [formControl]="cityControl" style=" border: aliceblue; ">
                  <!-- <mat-hint>Enter text to find users by name</mat-hint> -->
                </mat-form-field>
                
                <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFnCity">
                    <mat-option *ngFor="let city of filteredCities | async" [value]="selectedCities">
                        <div (click)="optionClickedCity($event, city)">
                            <mat-checkbox [checked]="city.selected" (change)="toggleSelectionCity(city)" (click)="$event.stopPropagation()">
                                {{ city.name }}
                            </mat-checkbox>
                        </div>
                    </mat-option>
                </mat-autocomplete>
        </div>
    </form>

    <form class="filter-listing-form">
        <div class="form-group">
            <label style=" font-size: 20px; font-family: 'Nunito'" class="heading-label">
                Ngành nghề
            </label>
            <!-- <cdk-virtual-scroll-viewport itemSize="50" style="height: 200px;">
                <mat-list role="list">
                    <mat-list-item role="listitem" *cdkVirtualFor="let item of industries">
                        <mat-checkbox [(ngModel)]="item.checked" name="something"></mat-checkbox>
                        <p style="margin-bottom: 6px; margin-left: 8px;">{{item.name}}</p>
                        <br />
                    </mat-list-item>
                </mat-list>
            </cdk-virtual-scroll-viewport> -->
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="vd. Bán hàng - Kinh doanh" matInput [matAutocomplete]="auto2" [formControl]="industryControl" style=" border: aliceblue; ">
              <!-- <mat-hint>Enter text to find users by name</mat-hint> -->
            </mat-form-field>
            
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnIndustry">
                <mat-option *ngFor="let industry of filteredIndustries | async" [value]="selectedIndustries">
                    <div (click)="optionClickedIndustry($event, industry)">
                        <mat-checkbox [checked]="industry.selected" (change)="toggleSelectionIndustry(industry)" (click)="$event.stopPropagation()">
                            {{ industry.name }}
                        </mat-checkbox>
                    </div>
                </mat-option>
            </mat-autocomplete>
        </div>
    </form>
    

    <form class="filter-listing-form">
        <div class="form-group ">
            <label class="heading-label">
                Mức lương </label>
            <div class="row">
                <p class="col-md-3 col-sm-3 col-xs-3" style="margin-top: 12px;">Từ:</p>
                <input [(ngModel)]="minSalary" [ngModelOptions]="{standalone: true}" type="number" class="form-control col-md-9 col-sm-9 col-xs-9" placeholder="triệu đồng">
            </div>
            <div class="row" style="margin-top: 10px;">
                <p class="col-md-3 col-sm-3 col-xs-3" style="margin-top: 12px;">Đến:</p>
                <input [(ngModel)]="maxSalary" [ngModelOptions]="{standalone: true}" type="number" class="form-control col-md-9 col-sm-9 col-xs-9" placeholder="triệu đồng">
            </div>
        </div>
    </form>

    <!-- <form class="filter-listing-form">
        <div class="form-group">
            <label style=" font-size: 20px; font-family: 'Nunito'" class="heading-label">
                Loại công việc
            </label>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let x of jobTypes; let i = index">
                    <mat-radio-button [checked]="i == defaultSelected" [value]="x.id" (change)="selection = $event.value">
                        {{x.name}}
                    </mat-radio-button>
                </mat-list-item>
            </mat-list>
       
        </div>
    </form> -->
    
    <form class="filter-listing-form">
        <div class="form-group">
            <label style=" font-size: 20px; font-family: 'Nunito'" class="heading-label">
                Học vấn
            </label>
            <!-- <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let item of literacies">
                        <mat-checkbox [(ngModel)]="item.checked"></mat-checkbox>
                        <p style = "margin-bottom: 6px; margin-left: 8px;">{{item.name}}</p>
                        <br />
                    </mat-list-item>
                </mat-list> -->
            <cdk-virtual-scroll-viewport itemSize="50" style="height: 200px;">
                <mat-list role="list">
                    <mat-list-item role="listitem" *cdkVirtualFor="let item of literacies">
                        <mat-checkbox [(ngModel)]="item.checked" name="something"></mat-checkbox>
                        <p style="margin-bottom: 6px; margin-left: 8px;">{{item.name}}</p>
                        <br />
                    </mat-list-item>
                </mat-list>
            </cdk-virtual-scroll-viewport>
        </div>
    </form>
    
    <!-- <form class="filter-listing-form">
        <div class="form-group">
            <label style=" font-size: 20px; font-family: 'Nunito'" class="heading-label">
                Cấp bậc
            </label>
            <cdk-virtual-scroll-viewport itemSize="50" style="height: 200px;">
                <mat-list role="list">
                    <mat-list-item role="listitem" *cdkVirtualFor="let item of levelCareer">
                        <mat-checkbox [(ngModel)]="item.checked" name="something"></mat-checkbox>
                        <p style="margin-bottom: 6px; margin-left: 8px;">{{item.name}}</p>
                        <br />
                    </mat-list-item>
                </mat-list>
            </cdk-virtual-scroll-viewport>
        </div>
    </form> -->
    
    <form class="filter-listing-form">
        <div class="form-group">
            <button class="button" (click) = advancedSearch()>Lọc kết quả <i class="fa fa-chevron-right"></i></button>
        </div>
    </form>
    
    <!-- </aside> -->
</aside>