h2 {
    font-size: 25px;
    font-weight: 400;
}
.static {
    // background-color: #65c36b;
    // background-image: -webkit-gradient(linear, left top, right top, from(#4fca57), to(#2d9032));
    // background-image: linear-gradient(to right, #5aaf60, #36923b);
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
    .title {
        color: #fff;
        color: #333333;
    }
    .highlight {
        font-size: 32px;
        font-weight: 400;
        color: #333333;
        line-height: 70px;
    }
    .small-chart {
        margin-top: -20px;
    }
    .grow {
        // background: #37933c;
        // color: #fff;
        // border-radius: 3px;
        // padding: 1px 3px 1px 4px;

        background: #e2e2e2;
        color: #37933c;
        border-radius: 3px;
        padding: 1px 3px 1px 4px;
        font-weight: 500;
    }
}

.bg-gray {
    background: #f3f3f3;
}
.quick-tab {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
    .item {
        display: inline-block;
        border-color: #fff;
        border-style: solid;
        border-width: 3px 0px 3px 0px;
        padding: 16px 0px;
        margin-right: 18px;
    }
    .selected {
        color: #37933c;
        border-color: transparent transparent #37933c transparent;
    }
}
.chon-quy-wrap {
    display: inline-block;
    padding: 3px 5px;
    .item {
        display: inline-block;
        border-top: 1px solid #37933c;
        border-bottom: 1px solid #37933c;
        border-right: 1px solid #37933c;
        padding: 5px 15px;
        color: #37933c;
        cursor: pointer;
    }
    .item:first-child {
        border-top-left-radius: 4px;
        border-left: 1px solid #37933c;
        border-bottom-left-radius: 4px;
    
    }
    .item:last-child {
        border-top-right-radius: 4px;
        border-right: 1px solid #37933c;
        border-bottom-right-radius: 4px;
    
    }
    .selected {
        background: #37933c;
        color: #fff;
    }
}


.example-form {
    min-width: 150px;
    max-width: 800px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color: #37933c !important;;
}

::ng-deep   .mat-checkbox-ripple .mat-ripple-element,.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #37933c !important;}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #37933c!important;
    }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #37933c;
    }



input[type='checkbox']:checked:after {
	background: #37933c;
	content: '\2714';
	color: #fff;
}