<div class="bg-gray pb-3">
    <div class="container">
        <h1>Quận Cầu Giấy</h1>
        <h5>Thành phố Hà Nội / Việt Nam</h5>
        <app-main-slider></app-main-slider>
        <div class="row">
            <div class="col-3">
                <div class="d-flex flex-column static">
                    <div class="title">Việc làm mới</div>
                    <div class="d-flex">
                        <div class="d-flex flex-column">
                            <div class="highlight">{{newJob}}K</div>
                            <div class="grow">{{newJobGrowth}}%</div>
                        </div>
                        <div class="">
                            <div class="small-chart" style = "width: 165px !important;" id="chart-viec-lam-moi"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="d-flex flex-column static">
                    <div class="title">Lương trung bình</div>
                    <div class="d-flex">
                        <div class="d-flex flex-column">
                            <div class="highlight">{{averageSalary}}tr</div>
                            <div class="grow">+{{averageSalaryGrowth}}%</div>
                        </div>
                        <div class="">
                            <div class="small-chart" style = "width: 190px !important;" id="chart-luong-trung-binh"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="d-flex flex-column static">
                    <div class="title">Số công ty</div>
                    <div class="d-flex">
                        <div class="d-flex flex-column">
                            <div class="highlight">{{numCompany}}K</div>
                            <div class="grow">+{{numCompanyGrowth}}%</div>
                        </div>
                        <div class="">
                            <div class="small-chart" style = "width: 165px !important;" id="chart-cong-ty"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="d-flex flex-column static">
                    <div class="title">Độ tuổi trung bình</div>
                    <div class="d-flex">
                        <div class="d-flex flex-column">
                            <div class="highlight">{{numCompany}}K</div>
                            <div class="grow">+{{numCompanyGrowth}}%</div>
                        </div>
                        <div class="">
                            <div class="small-chart" style = "width: 165px !important;" id="chart-do-tuoi-trung-binh"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="quick-tab">
        <div class="item" *ngFor="let item of quickTab" [ngClass]="{'selected': item.selected}">{{item.name}}</div>
    </div>

    <div class="chon-quy-wrap">
        <div class="item" *ngFor="let item of quy; index as i" (click)="thayDoiQuy(i)" [ngClass]="{'selected': item.selected}">{{item.name}}</div>
    </div>
    

    <div class="row">
        <div class="col-12"><h2>Phân bố việc làm theo ngành nghề</h2></div>
        <div class="col-6">
            <div id="nhu-cau-theo-nganh-nghe"></div>
        </div>
        <div class="col-6">
            <div id="muc-luong-trung-binh-theo-nganh-nghe"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><h2>Phân bố việc làm theo vị trí công việc</h2></div>
        <div class="col-6">
            <div id="nhu-cau-theo-vi-tri-cong-viec"></div>
        </div>
        <div class="col-6">
            <div id="muc-luong-trung-binh-theo-vi-tri-cong-viec"></div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12"><h2>Phân bố việc làm theo vị trí công ty</h2></div>
        <div class="col-6">
            <div id="nhu-cau-tuyen-dung-theo-cong-ty"></div>
        </div>
        <div class="col-6">
            <div id="muc-luong-trung-binh-theo-cong-ty"></div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12"><h2>Phân bố việc làm theo nhân khẩu học</h2></div>
        <div class="col-6">
            <div id="nhu-cau-tuyen-dung-theo-do-tuoi-gioi-tinh"></div>
        </div>
        <div class="col-6">
            <div id="nhu-cau-tuyen-dung-theo-trinh-do-hoc-van"></div>
        </div>
        
    </div>
    
</div>