<aside class="sidebar sidebar-left" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
    <div class="close-sidebar-btn hidden-lg hidden-md"> <i class="ti-close"></i> <span>Close</span></div>
    <aside class="widget widget_employer_filter_widget">
        <form method="get" action="https://apusthemes.com/wp-demo/careerup/employer-list-v2/"
            class="filter-employer-form filter-listing-form">

            <div class="form-group form-group-title toggle-field">
                <label for="employer_filter_widget-2_title" class="heading-label">
                    Tìm kiếm công ty <i class="fa fa-angle-down" aria-hidden="true"></i>
                </label>
                <div class="form-group-inner inner" style="display: block;">
                    <input type="text" name="filter-title" class="form-control" value=""
                        id="employer_filter_widget-2_title" placeholder="VD: Vingroup">
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group form-group-category toggle-field ">
                <label class="heading-label">
                    Lĩnh vực hoạt động <i class="fa fa-angle-down" aria-hidden="true"></i>
                </label>
                <div class="form-group-inner">
                    <ul class="terms-list circle-check">
                        <li class="list-item ">
                            <input id="Accounting / Finance" type="checkbox" name="filter-category[]" value="73">
                            <label for="Accounting / Finance">Tài chính, kế toán</label>

                            <span class="count">(5)</span>
                        </li>
                        <li class="list-item ">
                            <input id="Automotive Jobs" type="checkbox" name="filter-category[]" value="74">
                            <label for="Automotive Jobs">Giáo dục</label>

                            <span class="count">(2)</span>
                        </li>
                        <li class="list-item ">
                            <input id="Education Training" type="checkbox" name="filter-category[]" value="75">
                            <label for="Education Training">Y tế</label>

                            <span class="count">(1)</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group form-group-center-location toggle-field ">
                <label for="employer_filter_widget-2_center-location" class="heading-label">
                    Vị trí <i class="fa fa-angle-down" aria-hidden="true"></i>
                </label>
                <div class="form-group-inner inner">
                    <div class="action-location">
                        <input type="text" name="filter-center-location" class="form-control" value=""
                            id="employer_filter_widget-2_center-location" placeholder="Hà Nội,..." autocomplete="off">
                        <div class="leaflet-geocode-container"></div>
                        <span class="find-me"></span>
                        <span class="clear-location hidden"><i class="ti-close"></i></span>
                    </div>

                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group form-group-founded-date toggle-field ">

                <label for="filter-founded-date" class="heading-label">
                    Năm thành lập <i class="fa fa-angle-down" aria-hidden="true"></i>
                </label>
                <div class="form-group-inner">
                    <div class="from-to-wrapper">
                        <span class="inner">
                            <span class="from-text">1995</span>
                            <span class="space">-</span>
                            <span class="to-text">2005</span>
                        </span>
                    </div>
                    <div class="main-range-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                        data-max="2005" data-min="1995">
                        <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;">
                        </div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                            style="left: 0%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all"
                            tabindex="0" style="left: 100%;"></span>
                    </div>

                    <input type="hidden" name="filter-founded-date-from" class="filter-from" value="1995">
                    <input type="hidden" name="filter-founded-date-to" class="filter-to" value="2005">
                </div>
            </div>
            <!-- /.form-group -->
            <div class="form-group form-group-3 toggle-field hide-content">
                <label for="employer_filter_widget-2_3" class="heading-label">
                    Số lượng nhân sự <i class="fa fa-angle-up" aria-hidden="false"></i>
                </label>

                <div class="form-group-inner">
                    <ul class="terms-list circle-check">
                        <li class="list-item ">
                            <input id="1-50 Members" type="radio" name="filter-custom-team-size" value="1-50">
                            <label for="1-50 Members">1-50 Members</label>

                            <span class="count">(6)</span>
                        </li>
                        <li class="list-item ">
                            <input id="50-100 Members" type="radio" name="filter-custom-team-size" value="50-100">
                            <label for="50-100 Members">50-100 Members</label>

                            <span class="count">(2)</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.form-group -->

            <div class="form-group">
                <button class="button">Lọc kết quả <i class="flaticon-right-arrow"></i></button>
            </div>
            <!-- /.form-group -->
        </form>

    </aside>
</aside>